body{
    background-color: #1f4287;
}
.appContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    
}
.gamePlayGrid {
    display: grid;
    justify-self: center;
    align-self: center;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    border: 1px black solid;
    min-width: 400px;
    min-height: 400px;
    max-height: 500px;
    max-width: 500px;
    height: 50vh;
    width: 40vw; 
    margin: 5px;
    margin-top: 5em;
}

.gamePlayGrid > div {
   border: #071e3d 1px solid;
   background-color: white;
   display: flex;
   justify-content: center;
   align-items: center;
   text-align: center;
}
.gamePlayGrid > div:hover {
    cursor: pointer;
    background-color: #21e6c1;
}
.playerForms {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
#startButton {
    margin-top: 2em;
}
